$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";

.input_background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/blackboard-frankomania.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 300px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;

  .search {
    font-size: 50px;
    opacity: .5;
    border: 1px solid grey;
    border-radius: 10px;
    color: grey;
    padding: 5px 15px;
    width: 60%;
    outline: none;
    font-family: 'Oswald', sans-serif;
    z-index: 1;
  }

  .upload {
    height: 40px;
    width: 40px;
    color: #fff;
    opacity: .7;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: .7s;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  .facebook_link {
    height: 40px;
    width: 40px;
    color: #fff;
    opacity: .7;
    position: absolute;
    top: 80px;
    right: 20px;
    transition: .7s;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
    }
  }

  //.flag {
  //  width: 200px;
  //  height: 200px;
  //  background-image: url("../img/frankomania.png");
  //  background-size: contain;
  //  background-repeat: no-repeat;
  //  position: absolute;
  //  top: 30px;
  //  left: 30px;
  //  opacity: .7;
  //}

}

div.verbs_container {
  //height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media #{$desktop} {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .verb_link {
    width: 80%;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    //text-shadow: -4px 4px 2px rgba(0,0,0,0.4);
    transition: .7s;


    &:hover {
      transform: scale(1.1);
      box-shadow: 0 11px 15px 4px rgba(0, 0, 0, 0.4);
      text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
    }
    @media #{$tablet} {
      font-size: 40px;
      border: 2px solid rgba(0, 0, 0, 0.4);
    }
    @media #{$desktop} {
      width: 45%;
      border: 1px solid rgba(0, 0, 0, 0.4);
    }

  }

  .verb_box {
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;

    p {
      overflow: hidden;
      margin: 0;
      width: 50%;
      text-align: left;
      padding: 20px;
    }
  }

}